DB_SERVER=localhost
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_NAME=gym_one
COUNTRY=Turkey
STREET=Example Street
CITY=Istanbul
HOUSE_NUMBER=123
DESCRIPTION=Your Gym Description
META_KEY=gym, fitness, management
GOOGLE_KEY=your_google_api_key
CAPACITY=100
ABOUT=About your gym
BUSINESS_NAME=GYM One
LANG_CODE=TR
